# Large assets kept locally until Git LFS billing is ready.
/Bathroom Mounts/STL/Bathroom Mounts_Bathroom Mounts v15_Handled Holder_1_Body1.stl
/Bathroom Mounts/STL/Bathroom Mounts_Bathroom Mounts v15_Toothpaste Holder_1_Body1.stl
/OPD Cart Bottle Holder/STL/Printer Holder Version - Printer Holder Version.stl
/OPD Cart Label Upgrade-Fixes/Renders/IMG_5667.gif
/OPD Cart Label Upgrade-Fixes/Renders/IMG_5668.gif
/Powder Ball/STL/Powder Ball v2_Powder Ball v2_Powder Ball Bottom.stl
/Propane Hanger Set/STL/Propane Holder v7_Propane Holder v7_Tank Handle_1_Body1.stl
/Skadis Dremel Like Mounts/STL/*Grinding Accessories.stl
/Syringe Luer Tips/STL/Syringe Luer Tips v8_Syringe Luer Tips v8_Tip Holder_1_Body3.stl
/Vaccum Adapter/Renders/Vaccum Adapter.gif
/Wireless Charger Box/STL/Wireless Charger Box v7_Wireless Charger Box v7_Base.stl
/Wireless Charger Box/STL/Wireless Charger Box v7_Wireless Charger Box v7_Top.stl